div.login{
    height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

div.login h1 {
    font-size: 5vh;
    text-transform: uppercase;
}

div.login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

div.login-fields {
    margin: 2vh 0;
    padding: 2vh 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    background-color: lightskyblue;
}

div.login-fields input[type="text"], div.login-fields input[type="password"]{
    margin: 0.2vh;
    border: none;
    padding: 1vh;
    font-size: 1em;
}

div.login input[type="submit"]{
    background-color: greenyellow;
    font-size: 2em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50%;
    height: 4vh; width: 4vh;
}